{% extends 'base.html.twig' %}

{% block title %}Авторы{% endblock %}

{% block body %}

    <div class="h-content h-content-home">

        <div class="caption">
            Библиотека
        </div>

    </div>
    <div>


    </div>

    {% endblock %}
